@import "variables";
@import "../vendors/bootstrap-5.0.0/scss/functions";
@import "../vendors/bootstrap-5.0.0/scss/variables";
@import "../vendors/bootstrap-5.0.0/scss/mixins";

/* Reset */
@font-face {
  font-family: "iransans";
  src: url("fonts/IRANSansWeb.ttf") format("truetype"),
    url("fonts/IRANSansWeb.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7rem;
  border: 0;
}
/* Main Styling */
body {
  color: #b4b4b4;
  font-family: "iransans";
  line-height: 30px;
  /* حذف اسکرول افقی */
  overflow-x: hidden;
  .RightToLeft {
    direction: rtl;
    text-align: right;
    font-size: 14px;
  }
  /* Utility Classes */
  a {
    transition: all 0.2s ease-in-out;
  }
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}
.container {
  width: 1366px;
  text-align: right;
  margin: auto;
}
//**********************************header****************************************
header {
  width: 100%;
  .top {
    height: 50px;
    background: #eeeeee;
    h1 {
      color: #393e46;
      text-align: center;
      font-size: 20px;
      padding: 13px;
    }
  }
  .menu {
    background: #fd7013;
    float: right;
    width: 100%;
    li {
      //float: right; or display: inline-block;
      float: right;
      list-style: none;
      a {
        color: #eeeeee;
        display: inline-block;
        padding: 10px 50px 10px 20px;
        text-decoration: none;
        font-weight: bold;
        transition: 0.5s;
        &:hover {
          background: #393e46;
          color: #eeeeee;
          border-radius: 5px;
        }
      }
    }
  }
}
//**********************************index****************************************
section#index {
  .box {
    margin-top: 97px;
    width: 100%;
    background: #393e46;
    padding: 20px;
    float: right;
    .right {
      float: right;
      width: 47%;
    }
    .right1 {
      background: #eeeeee;
      padding: 20px;
      border-radius: 10px;
    }
    .right2 {
      margin-top: 10px;
      background: #eeeeee;
      padding: 20px;
      border-radius: 10px;
      height: 128px;
    }
    .left {
      width: 47%;
      background: #eeeeee;
      float: left;
      padding: 20px;
      border-radius: 10px;
    }
  }
  .right h2 {
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  .left h2 {
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  .right p {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    text-align: right;
    text-shadow: 1px 1px 0.5px rgb(100, 100, 100);
  }
  .right a {
    font-size: 20px;
    text-decoration: none;
  }
  .left img {
    max-width: 100%;
    float: left;
    height: 50%;
    transition: 0.75s;
    &:hover {
      opacity: 0.5;
    }
  }
}
//**********************************main****************************************
section#main {
  .main {
    width: 100%;
    background: #222831;
    padding: 20px;
    float: right;
    .myform {
      width: 47%;
      background: #eeeeee;
      float: right;
      padding: 20px;
      input[type="text"],
      input[type="email"],
      input[type="password"],
      textarea,
      select {
        //display: block;
        width: 80%;
        padding: 5px;
        border-radius: 10px;
        border-color: #c8d6e5;
        margin: 0px 30px 0px 0;
      }
      label {
        //float: right;
        display: block;
        margin: 20px 30px 10px 0;
      }
      textarea {
        max-width: 100%;
        height: 150px;
      }
      .gender {
        margin: 20px 30px 10px 0;
        input[type="radio"] {
          margin: 0px 30px 0px 0;
        }
        label {
          display: inline;
          margin: 20px 0px 10px 20px;
        }
        input[type="radio"] {
          margin: 20px 5px 10px 20px;
        }
      }
      .skill {
        margin: 20px 30px 10px 0;
        label {
          cursor: pointer;
          display: inline;
          margin: 20px 0px 10px 0px;
        }
        input[type="checkbox"] {
          cursor: pointer;
          margin-right: 10px;
        }
      }
      input[type="submit"],
      button {
        width: 93px;
        height: 50px;
        font-size: 14px;
        display: inline;
        cursor: pointer;
        margin: 0px 30px 0px 0;
        background: #fd7013;
        color: #fff;
        padding: 10px 25px;
        border-radius: 10px;
        border: 1px solid #eeeeee;
        transition: 0.5s;
        &:hover {
          background: #cf5300;
        }
      }
      button {
        background: #393e46;
        &:hover {
          background: #222831;
        }
      }
    }

    .pedar {
      width: 47%;
      height: 500px;
      background: #eeeeee;
      float: left;
      padding: 20px;
      position: relative;
      //box-shadow: 5px 5px 20px #fff;
      .farzand {
        position: absolute;
        top: 100px;
        right: 80px;
        width: 70px;
        height: 70px;
        background: #ff0000;
      }
      .farzand2 {
        position: absolute;
        top: 120px;
        right: 100px;
        width: 70px;
        height: 70px;
        background: #66ff00;
      }
    }
  }
}

//**********************************index2****************************************
section#index2 {
  background: lightcoral;
  .parrent {
    background: #393e46;
    padding: 30px;
    //float: left;
    //width: 100%;
    display: flex;
    flex-wrap: wrap;
    //display: inline-flex;
    //flex-direction: column-reverse;
    .child {
      background: #2c7dd4;
      margin: 15px;
      padding: 15px;
      text-align: center;
      font-size: 28px;
      width: 320px;
      //float: left;
    }
  }
}

